@media(max-width:1200px) {
    .wrap {
        width: 90%;
        margin: 0px auto;
    }

    #banner h1 {
        font-size: 35px;
        text-align: center;
        margin: 33px auto;
    }

    .card {
        width: 17%;
        margin: 1.4%;
    }

    .card .category {
        width: 96%;
        margin: 4%;
    }

    .card p {
        display: block;
        margin: 0 auto;
        width: 90%;
        text-align: center;
    }

    #articles {
        width: 65%;
    }

    #articles article {
        width: 92%;
    }

    #footer .wrap>div {
        width: 25%;
        margin: 4%
    }

    #footer #browser img {
        width: 14%;
    }

    #footer h5 {
        font-size: 30px;
    }

}

@media (max-width:1099px) {

    .card {
        width: 16%;
        margin: 1.8%;
    }

    .card .category {
        font-size: 17px;
    }

    .card .description {
        font-size: 14px;
    }

    #articles {
        width: 61%;
    }
}

@media (max-width:969px) {
    #articles {
        width: 58%;
    }

    #footer h5 {
        font-size: 22px;
    }
}

@media (max-width:900px) {
    #banner h1 {
        font-size: 30px;
        text-align: center;
        margin: 33px -80px auto;
      }
    
    #articles {
        width: 66%;
    }

    #lateral {
        width: 26%;
    }

    #lateral input[type="text"] {
        width: 80%;
    }

    .aside-box {
        width: 100%;
    }

    #login input[type="submit"],
    #login input[type="button"],
    #login input[type="reset"],
    #login button {
        display: block;
        text-align: center;
        width: 35%;
    }
    #login input[type="email"],
    #login input[type="password"] {
        display: block;
        margin: 0px auto;
          margin-top: 0px;
        margin-top: 20px;
        width: 78%;
    }

    #footer .wrap > div{
        width: 25%;
        margin: 3%;
    }

}

@media (max-width:853px){
    #lateral h3{
        font-size:20px;
    }

    #footer ul li:hover a {
        padding-left: 25px;
        color: white;
        width: 100%;
    }

    #footer img{
        max-width: 100%;
    }
}
@media (max-width:724px){

    #header{
        width: 100%;
        height: 150px;
    }

    #menu{
        float: none;
        width: 109%;
    }

    #banner h1 {
        font-size: 30px;
        text-align: center;
        margin: 35px -125px auto;
    }

    .card{
        height: auto;
    }

    .card .category{
        font-size: 15px;
        margin-top: -22px;
    }

    .card:hover .icon{
        font-size: 35px;
    }

    .card:hover .icon{
        font-size: 45px;
    }


    .card .description{
        display: none;
    }
}

@media (max-width:664px){

    #banner h1{
        font-size: 25px;
        width: auto;
    }

    #logo{
        float: none;
        margin:0px auto;
    }

    #menu {
        float: none;
        width: auto;
        margin: 0px auto;
        text-align: center;
    }

    #lateral{
        float: none;
        width: 100%;
        margin: 0px auto;
        min-height: auto;
        margin-top: 20px;
    }

    #login input[type="reset"]{
        display: none;
    }

    #login a{
        display: block;
        clear: both;
    }

    #articles{
        float: none;
        width: 100%;
        margin: 0px auto;
        min-height: auto;
    }

    #footer{
        height: auto;
        padding-bottom: 40px;
    }


    #footer .wrap > div{
        width: 100%;
        margin: 0px auto;
    }

}

@media (max-width:548px){

    #banner{
        height: 85px;
    }
    .card{
        width: 78px;
        margin: 5px;
    }
    .card .icon{
        font-size: 25px;
    }
    .card:hover .icon{
        font-size: 25px;
    }

    .card .category{
        font-size: 13px;
    }
}